@define-color lightdm_border_color #026096;

.lightdm-combo.combobox-entry button,
.lightdm-combo cell,
.lightdm-combo button,
.lightdm-combo entry,
.lightdm entry {
    background-image: none;
    background-color: alpha (white, 0.3);
    border-color: alpha (black, 0.6);
    border-radius: 0px;
    padding: 3px;

    color: black;
    text-shadow: none;
}

.lightdm button,
.lightdm button:selected,
.lightdm button:hover,
.lightdm button:hover:backdrop,
.lightdm button:active,
.lightdm button:active:backdrop,
.lightdm button:active:hover,
.lightdm button:active:hover:backdrop,
.lightdm button:active:focus,
.lightdm button:active:hover:focus,
.lightdm button:active:disabled,
.lightdm button:active:disabled:backdrop,
.lightdm button:backdrop,
.lightdm button:focus,
.lightdm button:active:focus,
.lightdm button:hover:focus,
.lightdm button.default,
.lightdm button.default:focus:hover {


}



.lightdm entry,
.lightdm entry:hover,
.lightdm entry:active,
.lightdm entry:active:focus {
    background-image: none;
	background-color: white;
    border-image: none;
    border-radius: 0px;
border-color: @lightdm_border_color;
    border-width: 1px;
    border-style: solid;
    color: black;
    caret-color: black;
}


.lightdm entry:focus {
    -unico-focus-border-color: @lightdm_border_color;
    border-color: @lightdm_border_color;
    border-width: 1px;
    border-style: solid;

    color: black;
}

.lightdm entry:selected {
    background-color: white;
}
