/* NOTES to contributors:
 * use 4 spaces intends, and keep code ALIGNED and ORDERED */

/* default */
* {
    -GtkTextView-error-underline-color: @error_color;
    -WnckTasklist-fade-overlay-rect: 0;

    background-origin: border-box;
    background-clip: padding-box;
    border-width: 1px;



    /*-unico-arrow-texture: url("assets/combobox-arrow.png");*/

    /* To avoid using custom attributes, unico looks at the outline attributes
     * to find out how to render the focus ring.
     */
    outline-color: alpha (white, 0.4);
    outline-offset: 0px;
}
/***********
 * spinner *
 ***********/
@keyframes spinner {
    to { -gtk-icon-transform: rotate(1turn); }
}

spinner {
    -gtk-icon-source: -gtk-icontheme("process-working-symbolic");
    color: @selected_bg_color;
    opacity: 0;
}

menu spinner,
menu .pinner:hover,
.primary-toolbar spinner,
.primary-toolbar spinner,
.menubar.toolbar spinner,
.menubar.toolbar spinner,
.header-bar spinner,
.header-bar spinner {
    color: @selected_bg_color;
    border: none;
    box-shadow: none;
}

spinner:checked {
    animation: spinner 1s infinite linear;
}



